#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(24, 24, 24); 
    box-sizing: border-box;
    border-color: rgb(24, 24, 24);
    padding: 2%;
}
#container > div {
    margin: 9%;
    background-color: rgb(234, 241, 248);
    padding: 30px;
    border-radius: 20px;
    
}
#container > div:hover {
    background-color: rgb(225, 230, 236); 
}
.Title {
    text-align: center;
}
#container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
}

